<div data-controller="ping">
  <h1>Ping</h1>
  <%= form_with(url: pings_path, data: { action: "ping#responseStart" }) do |form| %>
    <div class="actions">
      <%= form.submit :Submit %>
    </div>
  <% end %>
  <p id="alert"> Click submit button to get response time </p>
  <%= tag.p data: { 'ping-target': "showResponse" } %>
</div>
